<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin name="hibiscus.xmlrpc" version="1.1" class="de.willuhn.jameica.hbci.xmlrpc.Plugin"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://www.willuhn.de/schema/jameica-plugin-1.0.xsd">

  <description>Meta-Plugin, welches Hibiscus um XML-RPC-Funktionalitaet erweitert</description>
  <url>https://www.willuhn.de/products/hibiscus/releases/nightly/hibiscus.xmlrpc-1.1-nightly.zip</url>
  <homepage>http://www.willuhn.de/products/hibiscus</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

  <requires jameica="1.10+">
    <import plugin="jameica.xmlrpc" version="1.1+"/>
    <import plugin="hibiscus"       version="1.12+"/>
  </requires>

  <classfinder>
    <include>hibiscus\.xmlrpc\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <services>
    <service name="konto"              depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.KontoService" />
    <service name="umsatz"             depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.UmsatzService" />
    <service name="ueberweisung"       depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.UeberweisungService" />
    <service name="lastschrift"        depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.LastschriftService" />
    <service name="sammellastschrift"  depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.SammelLastschriftService" />
    <service name="sammelueberweisung" depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.SammelUeberweisungService" />
    <service name="sepaueberweisung"   depends="" autostart="true" class="de.willuhn.jameica.hbci.xmlrpc.rmi.SepaUeberweisungService" />
  </services>
</plugin>

